.pessoalTecnico {
    width: calc(100% - 40px);
    background-color: var(--Cinza);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profissionais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}